<!--<!doctype html>
<html>-->
<head>
<!--<script src="webaudio-tinysynth.js"></script>
<script>

function loadMidiUrl(){
  synth.loadMIDIUrl('ws.mid');
}
function loadMidi(files){
  var reader = new FileReader();
  reader.onload=(e)=>{
    synth.loadMIDI(reader.result);
  }
  reader.readAsArrayBuffer(files[0]);
}
function playMidi(){
  synth.playMIDI();
}
function stopMidi(){
  synth.stopMIDI();
}
function SetProgram(p){
  synth.send([0xc0,p]);
}
function Init(){
  synth=new WebAudioTinySynth({voices:64});
  for(var i=0;i<128;++i){
    var o=document.createElement("option");
    o.innerHTML=synth.getTimbreName(0,i);
    document.getElementById("prog").appendChild(o);
  }
  setInterval(function(){
    var st=synth.getPlayStatus();
    document.getElementById("status").innerHTML="Play:"+st.play+"  Pos:"+st.curTick+"/"+st.maxTick;
  },100);
}
function Test(){
  var o=synth.getAudioContext().createOscillator();
  o.connect(synth.getAudioContext().destination);
  o.start(0);
  o.stop(synth.getAudioContext().currentTime+1);
  console.log(synth)
}
window.onload=Init;

</script>-->
</head>
<ion-content>
<h1>webaudio-tinysynth : js version test</h1>
This is a simple sample of webaudio-tinysynth (JavaScript library version) page.
<hr/>
<button (click)="Test()">Test audioContext</button>
<hr/>
Load Sample MIDI from URL : <button (click)="loadMidiUrl()">Load (ws.mid)</button><br/>
Load MIDI file from local : <input type="file" (change)="loadMidi(this.files)"/><br/>
<button (click)="playMidi()">Play</button>
<button (click)="stopMidi()">Stop</button>
<div id="status"></div>
<br/><br/>
Loop : <input type="checkbox" (change)="midi.initValues.setLoop(this.checked)"/><br/>
MasterVol<br/>
<input type="range" value="50" min="0" max="100" oninput="midi.initValues.setMasterVol(this.value/100)"/><br/>
ReverbLev<br/>
<input type="range" value="50" min="0" max="100" oninput="midi.initValues.setReverbLev(this.value/100)"/><br/>

<br/><br/>
Quality : <ion-select (change)="midi.initValues.setQuality(this.selectedIndex)"><ion-option>Quality=0</ion-option><ion-option selected>Quality=1</ion-option></ion-select>
<br/>
Timbre : <ion-select id="prog" [(ngModel)]="this.selectedIndex" (change)="this.SetProgram(this.selectedIndex)">
  <ion-option *ngFor="let i of options" [value]=i> {{i}}</ion-option>
</ion-select>

<br/>
<br/>
Play by keys :<br/>
<ion-buttons>
  <!--<button onmousedown="send([0x90,60,100])" onmouseup="send([0x80,60,0])">C</button>-->
  <button (click)="send()">C</button>
  <button onmousedown="midi.initValues.send([0x90,62,100])" onmouseup="midi.initValues.send([0x80,62,0])">D</button>
  <button onmousedown="midi.initValues.send([0x90,64,100])" onmouseup="midi.initValues.send([0x80,64,0])">E</button>
  <button onmousedown="midi.initValues.send([0x90,65,100])" onmouseup="midi.initValues.send([0x80,65,0])">F</button>
  <button onmousedown="midi.initValues.send([0x90,67,100])" onmouseup="midi.initValues.send([0x80,67,0])">G</button>
  <button onmousedown="midi.initValues.send([0x90,69,100])" onmouseup="midi.initValues.send([0x80,69,0])">A</button>
  <button onmousedown="midi.initValues.send([0x90,71,100])" onmouseup="midi.initValues.send([0x80,71,0])">B</button>
  <button onmousedown="midi.initValues.send([0x90,72,100])" onmouseup="midi.initValues.send([0x80,72,0])">C</button>
</ion-buttons>
</ion-content>
<!--</html>-->
